.nav {
  display: flex;
  width: 600px;
  justify-content: space-between;
  font-size: 1.5rem;
}

.home {
  color: powderblue;
}

.about {
  color: powderblue;
}

.isr {
  color: powderblue;
}

.dynamic {
  color: powderblue;
}
